name: EasyRead Services
services:
  nginx:
    image: nginx:latest
    container_name: "nginx.api.ev.meshpower.co.rw"
    hostname: "nginx.api.ev.meshpower.co.rw"
    networks:
      - easyread
    depends_on:
      - frontend
    ports:
      - 80:80
      - 443:443
    restart: "unless-stopped"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt/:/etc/letsencrypt/
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend.easyread
    hostname: frontend.easyread
    expose:
      - 7860 
    env_file:
      - .env
    depends_on:
      - backend
    volumes:
      - ./frontend:/frontend
    networks:
      - easyread
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend.easyread
    hostname: backend.easyread
    ports:
      - "8000:8000" # Expose backend service on port 8000
    env_file:
      - .env
    depends_on:
      - minio
    volumes:
      - ./backend:/backend
    ## Attach GPU
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - easyread
  minio:
    image: quay.io/minio/minio:latest # Use the official MinIO image
    container_name: minio
    hostname: minio
    ports:
      - "9000:9000" # S3 API port
      - "9001:9001" # MinIO Console Web UI port
    volumes:
      - minio_data:/data # Mount a local directory to the container's data path
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER} # Set your desired root username
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD} # Set your desired strong password
    env_file:
      - .env
    command: server --console-address ":9001" /data # Start the MinIO server and console
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - easyread

volumes:
  minio_data:


networks:
  easyread:
    driver: bridge
